.page-container {
    margin: 10px 5px;
}

.logo {
    width: 70px;
    height: 70px;
}

.avatar-link {
    top: -71px;
    left: 5px;
    float: left;
    position: relative;
}

.dog-picture {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.dog-frame {
    width: auto;
    float: left;
    margin: 5px;
    border: 2px groove grey; 
    height: -webkit-fill-available;
    max-height: 250px;
    max-width: 250px;
    overflow: hidden;
}

.wishlist-btn {
    top: -82px;
    right: 3px;
    position: relative;
    float: right;
}

.dog-name {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}